#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

#box-styles {
  background: #fff;
  padding: 2rem;
  width: 90%;
  max-width: 420px;
  border-radius: 12px;
  text-align: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#overlay-btn {
  display: block;
  text-align: center;
  margin: 20px 0px;
  padding: 10px 16px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}
