#navbar {
  border-bottom: 2px solid gray;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 10;
}

#browse {
  text-decoration: none;
  padding-top: 15px;
  color: black;
}

#logo {
  display: flex;
  font-weight: bolder;
  font-size: 1rem;
  color: rgba(0, 85, 255, 0.824);
  margin-right: 10px;
  gap: 10px;
}

#buttons {
  display: flex;
}

button {
  background-color: rgba(0, 85, 255, 0.824);
  padding: 4px;
  color: white;
  border-radius: 4px;
  border-color: white;
  margin-left: 5px;
}
